<% provide :title, t("links.log_in")%>
<h1><%= t "links.log_in" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "login_form" %>
    <p><%= t("messages.new_user") %> <%= link_to t("links.sign_up"), signup_path %></p>
  </div>
</div>
