<tr>
  <td>
    <%= image_tag (answer.option.try(:correct?)||nil?).to_s + ".png", alt: (answer.option.try(:correct?)||nil?).to_s %>
  </td>
  <td>
    <span><%= answer.word.content %></span>
  </td>
  <td>
    <% unless answer.option.nil? %>
      <span><%= answer.option.content %></span>
    <% end %>
  </td>
</tr>