<% provide :title, "All words" %>
<h1> All words</h1>
<div class="row">
  <div class="col-xs-12 ">
    <%= render "show" %><br>
  </div>
  <div class="col-xs-12">
    <ul class="words">
      <%= will_paginate %>
      <%= render @words%>
    </ul>
  </div>
</div>
