<li id="course-<%= course.id %>">
  <span class="button_start">
    <%= render "button_start", course: course %>
  </span>
  <span class="name">
    <%= course.name %>
  </span>
  <span class="description">
    <%= course.description %>
  </span>

</li>
