<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("links.logo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("links.home"),   root_path %></li>
        <li><%= link_to t("links.help"),   help_path %></li>
        <li><%= link_to t("links.log_in"), '#' %></li>
      </ul>
    </nav>
  </div>
</header>